1) Data Types

    1. Strings

In [9]:
#String with single quote
String1='SGGS'
print(String1)

#String with double quote
String2="Welcome to SGGS"
print(String2)

#String with triple quote
String3="""Shri Guru Gobind Singhji Institute of Engineering and Technology
Nanded,Maharashtra"""
print(String3)

SGGS
Welcome to SGGS
Shri Guru Gobind Singhji Institute of Engineering and Technology
Nanded,Maharashtra

    2. List

In [29]:
#List with integers
l1=[1,2,3,4,7,5,9]
print(l1)
l1.sort()
print("Sorted list ",l1)
l1.append(8)
print("Append ",l1)
l1.reverse()
print("Reverse list ",l1)
l1.pop(5)
print("After popping",l1,"\n")

#List with mixed characters
l2=['Hello',5,6.9,"Hello world",True]
print(l2)

#Accessing the elements of list
print(l2[2:4])
print(l2[:])
print(l2[-1:-4:-1])

[1, 2, 3, 4, 7, 5, 9]
Sorted list  [1, 2, 3, 4, 5, 7, 9]
Append  [1, 2, 3, 4, 5, 7, 9, 8]
Reverse list  [8, 9, 7, 5, 4, 3, 2, 1]
After popping [8, 9, 7, 5, 4, 2, 1]

['Hello', 5, 6.9, 'Hello world', True]
[6.9, 'Hello world']
['Hello', 5, 6.9, 'Hello world', True]
[True, 'Hello world', 6.9]

3. Tuples

In [45]:
#Empty tuple
t1=()
print(t1)

#Tuple with empty element needs a comma
t2=(1,)
print(t2)

#Tuple with more than 1 element
t3=(1,2,3,3)
print(t3)

# 'count()' will return no. of times the element occurs in a Tuple
c=t3.count(3)
print(c)

#Other form of creating a tuple
t4='list','tuple'
print(t4)

# 'index()' it will return the index number of the first occurrence of element in tuple
index=t4.index('tuple')
print(index)

#Concatenating two tuples
print(t3+t4)

()
(1,)
(1, 2, 3, 3)
2
('list', 'tuple')
1
(1, 2, 3, 3, 'list', 'tuple')

4. Sets

In [71]:
# Sets are unordered,unindexed,mutable
s={1,8,6,3}
print(s)

# len()-It return total length of set
print(len(s))

# remove()- Updates the set and removes specified element from set
s.remove(6)
print(s)

# pop()- Removes an arbitrary element from the set and returns the element removes
s.pop()
print(s)

# union()- Returns a new set with all items from both sets.
print(s.union({12,10,6}))

{8, 1, 3, 6}
4
{8, 1, 3}
{1, 3}
{1, 3, 6, 10, 12}

5. Dictionary

In [94]:
d={"name":"Ram",
  "from":"India",
   "age":20,
  "marks":[90,95,88,93]}

# get()- return the value of the specified keys and value is returned.
print(d['name'],"\n","marks- ",d.get('age'))

# items()- returns a list of (key,value) tuple.
print(d.items())

#keys()- returns a list containing dictionary keys
print(d.keys())

# update()- updates the dictionary with supplied key-value pairs
d.update({"College":"SGGS"})
print(d)

# popitem()- Removes and returns an arbitrary item(key,value). raises "KeyError" if the dictionary is empty.
print(d.popitem())

print("After popping- ",d)

Ram
 marks-  20
dict_items([('name', 'Ram'), ('from', 'India'), ('age', 20), ('marks', [90, 95, 88, 93])])
dict_keys(['name', 'from', 'age', 'marks'])
{'name': 'Ram', 'from': 'India', 'age': 20, 'marks': [90, 95, 88, 93], 'College': 'SGGS'}
('College', 'SGGS')
After popping-  {'name': 'Ram', 'from': 'India', 'age': 20, 'marks': [90, 95, 88, 93]}

6. Arrays

In [134]:
import array as arr
# Creating array of floating values
a=arr.array('d',[4.8,5.9,6,5.6])
print("Array before insertion:-", end="\n")
for i in range(0,4):
    print(a[i],end=" ")
print("\n")

# insert()- used to insert value in array
print("Array after insertion:- " ,end="\n")
a.insert(1,2.5)
for i in range(0,4):
    print(a[i],end=" ")
print("\n")  

# append()- used to add element in an array
a.append(9.7)
print("After appending:- ",end="\n")
for i in a:
    print(i,end=" ")
print("\n")

#index()- used to print index of first occurrence of given element
print("the index of 2.5 is- ",a.index(2.5))

Array before insertion:-
4.8 5.9 6.0 5.6

Array after insertion:-
4.8 2.5 5.9 6.0

After appending:-
4.8 2.5 5.9 6.0 5.6 9.7

the index of 2.5 is-  1

2) Variables

    1. Variables,expression condition and function

In [155]:
#Variables
var1=5
var2=8
print(var1,var2,end=" \n")

#Expression
sum=var1+var2
print("sum =",sum,end="\n")

#Condition
if sum%2!=0:
    print("odd number")
else:
    print("even number")
    
    
#Functions
def calci(a,b):
    mul=a*b
    print("multiplication of a number ",mul)
calci(var1,var2)

5 8
sum = 13
odd number
multiplication of a number  40

2. Maximum possible value of an integer in python

In [165]:
import sys
print(sys.maxsize)
print(type(sys.maxsize))

9223372036854775807
<class 'int'>

3. Global and local variables in python

In [173]:
def fun():
    #This is local variable which can be accessible by only this function
    l="Im a Local variable"
    print(l)
    print(g)
#This is global variable which can be accessible by anywhere in the program
g="Im a Global variable"
print(g)
fun()

Im a Global variable
Im a Local variable
Im a Global variable

4. Packing and unpacking arguments in python

In [192]:
def fun(a,b,c,d):
    print(a,b,c,d)
    
list=[1,2,3,4]
#Unpacking list into 4 arguments
fun(*list)

#Packing unknown number of arguments
def fun(*args):
    sum=0
    for i in range(0,len(args)):
        sum=sum+args[i]
    return sum
print(fun(1,2,3,4,5))
print(fun(10,20))

1 2 3 4
15
30

5. Type conversion in Python

In [201]:
# Implicit Type Conversion
num1=90
num2=3.6
sum=num1+num2
print(sum)
print(type(sum),"\n")

#Explicit Type Conversion
n1=768.89
n2=int(n1)
print(n2,type(n2))

93.6
<class 'float'>

768 <class 'int'>

6. Byte objects vs string in python

In [216]:
#String to Byte object
a="Python Programming"
c=b"Python Programming"
d=a.encode('ASCII')
if(d==c):
    print("Encoding successful")
else:
    print("unsuccesful")
    
#Byte object to string
a="PYTHON PROGRAMMING"
c=b"PYTHON PROGRAMMING"
d=c.decode("ASCII")
if(d==a):
    print("Decoding succeed")
else:
    print("Not Succeed")

Encoding successful
Decoding succeed

7. Print single and multiple variable

In [1]:
a="Python"
b="Programming"
print("Single variable- ",a)
print("Multiple variable- ",a,b)

Single variable-  Python
Multile variable-  Python Programming

8. Swap variable

In [6]:
x=9
y=4
print("value of x and y before swapping:- x=",x,"y=",y)
x,y=y,x
print("value of x and y after swapping  x=",x,"y=",y)

value of x and y before swapping:- x= 9 y= 4
value of x and y after swapping  x= 4 y= 9

9. Private variables

In [16]:
class first():
    def __init__(self,nv,pv):
        self.nv=nv
        self.__pv=pv
s1=first('Public variable','Private variable')
print(s1.nv)
print(s1._first__pv)

Public variable
Private variable

10. __name__ (A special variable) in Python

In [18]:
print("hello")
print("__name__value: ",__name__)
def main():
    print("Python main function")
if __name__=='__main__':
    main()

hello
__name__value:  __main__
Python main function

In [2]:
l1=[1,2,3,4]
print('even nos')
for i in l1:
    if i%2==0:
        print('even')

even nos
even
even

In [5]:
l1=[1,2,3,4]
l2=[3,4,6,2]
l3=[]
l3=l1-l2
print(l3)

TypeError: unsupported operand type(s) for -: 'list' and 'list'